html, body {
    margin: 0;
    padding: 1px;
    background: rgb(253,187,45);
    background: linear-gradient(110deg, #ffc917 20%, #ffe017 20% 40%, #cafc56 40% 60%, #75fae4 60% 80%, #2de9fa 80%);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#colors-section,
#colors-container {
    margin: 15px auto;
    width: 90%;
    display: none;
}

#colors-section {
    padding: 20px;
    border-radius: 10px;
    background: white;
}

#colors-section p {
    text-align: center;
    margin-bottom: 25px;
}

#colors-values {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#colors-generated {
    width: 70%;
}

#colors-values > p {
    margin: 0;
    border-bottom: solid black 1px;
    line-height: 29px;
    padding-left: .5em;
}

#colors-generated > div {
    width: 100%;
    height: 30px;
    transition: transform .2s;
}

#page-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-shadow: 0px 0px 15px rgba(175,175,175,0.9);
    border-bottom: solid #fff 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    margin: 1.5em 0;
    padding-bottom: .25em;
}

#controls-container {
    background: white;
    padding: 8px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#btn-generate {
    border: none;
    border-radius: 5px;
    background: #8cff40;
    color: #5c5c5c;
    font-size: 1.25rem;
    padding: .25em .75em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 200ms;
}

#btn-generate:focus,
#color-selector:focus,
#colors-number:focus,
#color-mode-selector:focus {
    outline: solid #33aef5 3px;
}

#btn-generate:hover,
#btn-generate:focus {
    background-color: #5ce600;
    color: #2e2e2e;
    scale: 1.15;
}

#color-selector,
#colors-number,
#color-mode-selector {
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
}

#color-mode-selector {
    display: none;
}

.color {
    cursor: pointer;
    transition: 200ms;
}

.color:hover,
.color:focus {
    border: solid #000 2px;
    border-radius: 5px;
    transform: scale(1.05);
}